.dock {
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    box-shadow: inset 0 -20px 80px -20px #ffffff1f;
    padding: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: 210 11.1% 3.53% / 0.25;
    border-radius: 9999px;
    transform: translate3d(0, 0, 0) rotate(0) skewX(0) skewY(0) scaleX(1)
        scaleY(1);
    backdrop-filter: blur(10px);
    z-index: 1000;

    .dockItem {
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}
