.nav {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    height: 64px;
    padding: 0 10px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background: var(--background);
    color: var(--text-color);

    .navItem {
        position: relative;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 20px;
        cursor: pointer;

        &:hover {
            .iconInactive {
                opacity: 0.7;
            }
        }

        .icon {
            width: 24px;
            height: 24px;
            transition: opacity 0.15s ease-in-out;

            .iconInactive {
                opacity: 0.4;
            }

            .iconActive {
                opacity: 1;
            }
        }
    }

    .limelight {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 44px;
        height: 5px;
        border-radius: 999px;
        background: #5865f2;
        box-shadow: 0px 50px 15px #5865f2;
        left: -999px;
    }

    .limelightReady {
        transition: left 0.4s ease-in-out;
    }

    .glow {
        position: absolute;
        left: -30%;
        top: 5px;
        width: 160%;
        height: 56px;
        clip-path: polygon(5% 100%, 25% 0, 75% 0, 95% 100%);
        background: linear-gradient(
            to bottom,
            rgba(88, 101, 242, 0.3),
            transparent
        );
        pointer-events: none;
    }

    .glowActive {
        animation: glowPulse 2s infinite;
    }

    @keyframes glowPulse {
        0%,
        100% {
            opacity: 0.6;
        }
        50% {
            opacity: 1;
        }
    }
}

.navItem:hover .iconActive {
    opacity: 1;
}

.navItem:hover ~ .limelight {
    filter: brightness(1.2);
}

.navItem:active ~ .limelight {
    filter: brightness(0.8);
}
