:root {
    --background: #121212;
    --text-color: #ffffff;
    --border-color: #333333;
    --font-geist-sans: "geist";
    --font-geist-mono: "geist-mono";
    color-scheme: dark;
}

/* Light theme variables */
[data-theme="light"] {
    --background: #ffffff;
    --text-color: #000000;
    --border-color: #cccccc;
    color-scheme: light;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    transition: background 0.5s ease, color 0.5s ease;
}

body {
    color: var(--text-color);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
