:root {
    --background: #121212;
    --text-color: #ffffff;
    --border-color: #333333;
    --font-sf-mono-regular: "sf-mono-regular";
    --font-sf-mono-medium: "sf-mono-medium";
    --font-sf-mono-light: "sf-mono-light";
    --font-sf-mono-bold: "sf-mono-bold";
    --font-sf-mono-heavy: "sf-mono-heavy";
    --font-helvetica-neue: "HelveticaNeue";
    --font-helvetica-neue-medium: "HelveticaNeue-Medium";
    --font-helvetica-neue-bold: "HelveticaNeue-Bold";
    color-scheme: dark;
}

/* Light theme variables */
[data-theme="light"] {
    --background: #ffffff;
    --text-color: #000000;
    --border-color: #cccccc;
    color-scheme: light;
}

@font-face {
    font-family: "sf-mono-regular";
    src: url("../public/fonts/sf-mono-regular.otf") format("opentype");
}

@font-face {
    font-family: "sf-mono-medium";
    src: url("../public/fonts/sf-mono-medium.otf") format("opentype");
}

@font-face {
    font-family: "sf-mono-light";
    src: url("../public/fonts/sf-mono-light.otf") format("opentype");
}

@font-face {
    font-family: "sf-mono-bold";
    src: url("../public/fonts/sf-mono-bold.otf") format("opentype");
}

@font-face {
    font-family: "sf-mono-heavy";
    src: url("../public/fonts/sf-mono-heavy.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../public/fonts/HelveticaNeue.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("../public/fonts/HelveticaNeue-Medium.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../public/fonts/HelveticaNeue-Bold.otf") format("opentype");
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--text-color);
    background: var(--background);
    font-family: var(--font-helvetica-neue);
    transition: background 0.5s ease, color 0.5s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
