.mainWrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 50%;
    margin: 0 auto;

    .title {
        font-family: var(--font-helvetica-neue);
        font-size: 48px;
        letter-spacing: -2px;
        color: var(--text-color);
    }

    .aboutMe {
        font-family: var(--font-sf-mono-regular);
        font-size: 18px;
        margin-top: 40px;
        color: var(--text-color);
    }
}
